@import url(./__container/popup__container.css);
@import url(./__close-button/popup__close-button.css);
@import url(./__title/popup__title.css);
@import url(./__text-field/popup__text-field.css);
@import url(./__save-button/popup__save-button.css);

.popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: 'Inter', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
