@import url(./__image/photo-card__image.css);
@import url(./__footer/photo-card__footer.css);
@import url(./__title/photo-card__title.css);
@import url(./__like-icon/photo-card__like-icon.css);

.photo-card {
  margin: auto;
  padding: 0px;
  width: 282px;
  height: 361px;
  border-radius: 10px;
  background-color: #FFFFFF;
  overflow: hidden;
}
